@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
header img {
    width: 50px;
    height: 50px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #2F6690;
}
#imagenheader{
    margin: 5px;
}
main{background-color: #2F6690;}

#busquedas {
    display: flex;
    flex-direction: row;
}
#busquedas li {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

#busquedas li a{
    margin: 2px;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1px;
}

#busquedas li a:hover{
    color: antiquewhite;
}

#ofertas{
    background-color: #3A7CA5;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ofertas .col,.col-md-8,.col-md-4{
    padding: 5px;
}

#ofertas-bajas-tr1,#ofertas-bajas-tr2 {
    display: flex;
    justify-content: center;
}
#mega-ofertas {
    display: flex;
    justify-content: center;
}
#ofgrande1,#ofgrande2{
    border-radius: 7%;
    margin: 5px;
    border: 1px solid black;
}

#ofertachica1,#ofertachica2,#ofertachica3,#ofertachica4,#ofertachica5 {
    margin: 5px;
    border-radius: 7%;
    border: 1px solid black;
}
#ofertas-bajas1,#ofertas-bajas2 {
    display: flex;
    justify-content: center;
}
.titulos {
    text-align: center;
    font-family: "Sevillana", cursive;
    font-style: normal;
}

#ofertas img{
    transition: all 300ms;
}
#ofertas img:hover{
    transform: scale(1.09);
}


.d-grid .btn {
    width: 100%;
    height: 144px;
    margin: 5px;
}
#compus{
    background: url(./imagenes/botoncompu.png);
}
#telefono{
    background: url(./imagenes/botontelefono.png);
}
#monitor{
    background: url(./imagenes/botonmonitor.png);
}
#microfono {
    background: url(./imagenes/botonmicrofono.png);
}
#teclado {
    background: url(./imagenes/botonteclado.png);
}
#mouse{
    background: url(./imagenes/botonmouse.png);
}
#computadoras,#telefonos,#monitores,#microfonos,#teclados,#mouses{
    display: none;  
}

.ocl {
    height: 30px;
    width: 40%;
    border-radius: 5%;
}

#categoria1,#categoria2,#categoria3,#categoria4,#categoria5,#categoria6{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: auto;
    background-color: #3A7CA5;
    text-align: center;
}

#categorias-divs img {
    width: 100%;
    height: 350px;
    border-radius: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#categorias-divs button{
    background-color: #3A7CA5;
    border: 0px;
}

#nosotros{
    background-color: #85cbf7;
    border-radius: 20px;
    
}
#piedepagina{
    background-color: rgb(165, 205, 205);
    border-radius: 20px;
}
